*
!*/
**/*Ti60*
**/*T20*

!*.v
!*.do
!*.vh
!*.vhd
!*.sh
!*.vp
!*.sv
!flist

*_tmpl*

!/src/**/*.v
!/src/**/*.do
!/src/**/*.vh
!/src/**/*.vhd
!/src/**/*.sh
!/src/**/*.vp
!/src/**/*.sv
!/src/**/flist

*副本*
!.gitignore
work_pnr
work_syn
work_dbg
*template*
*map*